body {
    background-color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    font-weight: bold;
    color: white;

}
p a{
    color: black;
    font-size: large;
}

.Salmon {
    color: black;
    background-color: pink;
}

.Steak {
    background-color: red;

}
.Korean-Chicken {
    background-color: yellow;

}